body {
    font-family: Tahoma, sans-serif;
    background-color: lightblue;
}
/* map div sizing */
#map {
  height: 600px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
} 


